$lighter-pink: #FFF2F2;
$lighter-green: #F2FFF5;
$lighter-blue: #F2F9FF;

$light-pink: rgba(255, 76, 76, 0.15);
$light-green: rgba(77, 218, 110, 0.15);
$light-blue: rgba(76, 172, 255, 0.15);

$pink: rgba(255, 76, 76, 0.71);
$green:rgba(77, 218, 110, 0.62);
$blue: rgba(76, 172, 255, 0.62);

$dark-pink: #471515;
$dark-green: #14401D;
$dark-blue: #153047;

$black-pink: #040D04;
$black-green: #040D06;
$black-blue: #04090D;

$black-alpha-200: rgba(0, 0, 0, 0.24);
$white-alpha-200: rgba(255, 255, 255, 0.24);;