
@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto/RobotoFlex-VariableFont.ttf') format('truetype'), url('/fonts/Roboto/RobotoFlex-Regular.ttf') format('truetype');
}

$font-primary: Roboto;
