.root {
  display: flex;
  align-items: center;
  gap: 16px;
}

.play {
  background: var(--color-secondary);

  &:hover {
    background: var(--color-primary);

    & path {
      fill: var(--color-lighter);
    }
  }
}

.control {
  background: var(--color-light);

  &:hover {
    background: var(--color-secondary);
  }
}